.comments {
  background-color: @main-pink;

  .wrapper {
    padding-top: 5%;
    padding-bottom: 15%;
  }
}

.comments__items {
  margin: 0;
}

.comments__header {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.comments__user-photo {
  width: 59px;
  height: 59px;
  margin: 0 auto;
  display: block;
}

.comments__text {
  font-size: 12px;
  text-align: center;
  display: inline;
}

.comments__about-author {
  display: block;
}

.comments__slider-toggles {
  width: 50%;
  margin: 0 auto;
  margin-top: 15%;
  display: flex;
  justify-content: space-between;
}

.comments__button {
  .button-reset();
  padding: 0;
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #dddddd;

  &--active {
    width: 8px;
    height: 8px;
    background-color: #f50049;
  }
}